body{
    background-color: black;
    display: flex;
    justify-content: center;
}
.container{
    display: inline-block;
    position: relative;
}
.container__transitionDoor{
    position: absolute;
    background-color: #000000;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;
    animation-duration: 1.5s;  
    animation-fill-mode: both;
    animation-timing-function: ease-in;
    opacity: 0;
}
@keyframes trans-door-open {
    0%   { opacity: 0;}
    100%  { opacity: 1; }
}
@keyframes trans-door-closed {
    0%   { opacity: 1;}
    100%  { opacity: 0 ; }
}
.dialog{
    background-image: url('./img/DialogBoxFaceset.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    left: 0;
    top: 70%;
    bottom: 3%;
    right: 0;
    display: none;
}
.dialog__faceset{
    background-image: url('./img/mafiaCara.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    z-index: 1;
    width: 126px;
    height: 126px;
    left: 157px;
    bottom: 21px;
}
.dialog__chat{
    border-radius: 1rem;
    z-index: 1;
    width: 782px;
    height: 94px;
    left: 306px;
    bottom: 21px;
    padding: 1rem;
    position: absolute;
    font-size: 1.4rem;
}